.sort-style{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px;

  .input-space {
    margin-right: 5%;
    background-color: white;
  }
}


@media screen and (max-width: 800px) {
  .sort-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-right: 20px;

    .input-space {
     margin-bottom: 2%;
     width: 100%;
    }
  }
}

