.edit-modal-style {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .root-MuiDialog-paper {
    background-color: #fff;
    border-radius: 4px;
    margin: 32px;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: none;
  }

  .input-back {
    width: 100%;
  }
}
